<div class="content-wrapper">

    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <div class="row">
                        <h3 class="font-weight-bold mr-5"
                            style="margin-top: auto; margin-bottom: auto; margin-left: 1.5rem">
                            Location</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="locationList" class="row" style="display:contents;">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-xl-3">
                            <button id="addnew" class="btn btn-primary mr-2">Add new</button>
                        </div>
                        <div class="col-12 col-xl-5">
                            <div class="justify-content-end d-flex">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">Filter</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                        id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <a class="dropdown-item" href="/products?order-by=name-ascending">A-Z
                                            (by Name)</a>
                                        <a class="dropdown-item" href="/products?order-by=name-descending">Z-A
                                            (by Name)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-4">
                            <div class="justify-content-end d-flex">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="content-search-input"
                                        placeholder="Search" aria-label="search" aria-describedby="search">
                                    <div class="rounded input-group-prepend hover-cursor" id="content-search-icon">
                                        <span class="input-group-text rounded-right" id="userlist-search">
                                            <i class="icon-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-hover">
                        <table class="table table-borderless">
                            <thead style="border-bottom: 2px solid black">
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Capacity</th>
                                    <th>Occupancy</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each locationList}}
                                <tr>
                                    <td>{{this.name}}</td>
                                    <td>{{this.address}}</td>
                                    <td>{{this.capacity}}</td>
                                    <td>{{this.occupancy}}</td>
                                    <td class="font-weight-medium">
                                        <div class="row">
                                            <div class="badge badge-primary hover-cursor"><i
                                                    class="mdi mdi-pencil mx-2"></i></div>
                                            <div class="badge badge-danger hover-cursor ml-1"><i
                                                    class="icon-trash mx-2"></i></div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Case add new -->

    <form id="addnewform" class="col-10 mx-auto py-3 font-weight-bold bg-white" action="./new" method="post"
        style="border-radius: 40px; display: none">
        <div class="col-12 justify-content-end d-flex">
            <button id="cancelform" class="btn btn-danger mr-2 btn-sm">Cancel</button>
        </div>
        <div class="form-row mt-5">
            <div class="form-group col-md-6 row mx-auto">
                <label for="inputName" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-7 was-validated">
                    <input type="text" class="form-control" id="name" name="name" required>
                    <div class="font-weight-lighter invalid-feedback">
                        Please enter a message in the textarea.
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6 row mx-auto">
                <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-8 was-validated">
                    <input type="text" class="form-control" id="address" name="address" required>
                    <div class="font-weight-lighter invalid-feedback">
                        Please enter a message in the textarea.
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 row mx-auto">
                <label for="inputCapacity" class="col-sm-3 col-form-label">Capacity</label>
                <div class="col-sm-7 was-validated">
                    <input type="number" class="form-control" id="capacity" name="capacity" required>
                    <div class="font-weight-lighter invalid-feedback">
                        Please enter a message in the textarea.
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6 row mx-auto">
                <label for="inputOccupancy" class="col-sm-2 col-form-label">Occupancy</label>
                <div class="col-sm-8 was-validated">
                    <input type="number" class="form-control" id="occupancy" name="occupancy" required>
                    <div class="font-weight-lighter invalid-feedback">
                        Please enter a message in the textarea.
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="font-weight-bold btn col-2 btn-primary mt-5">Create
                New Place</button>
        </div>
    </form>
</div>

{{#section "js"}}
<!-- Custom js for this page-->
<script type="text/javascript" src="js/dashboard.js"></script>
<script type="text/javascript" src="js/Chart.roundedBarCharts.js"></script>

<script>
    $("#addnew").click(() => {
        $("#locationList").css("display", "none");
        $("#addnewform").css("display", "contents");
    })
    $("#cancelform").click(() => {
        $("#locationList").css("display", "contents");
        $("#addnewform").css("display", "none");
    })
</script>

<!-- End custom js for this page-->
{{/section}}