<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="admin-sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/patient">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">User List</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/packs">
          <i class="mdi mdi-package-variant-closed menu-icon"></i>
          <span class="menu-title">Pack List</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">
          <i class="mdi mdi-wallet-giftcard menu-icon"></i>
          <span class="menu-title">Product List</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/quarantine-locations">
          <i class="mdi mdi-hospital-building menu-icon"></i>
          <span class="menu-title">Location List</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/server-log">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Server Log</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="manager-sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manage/view">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Management</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">User List</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/packs">
          <i class="mdi mdi-package-variant-closed menu-icon"></i>
          <span class="menu-title">Pack List</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">
          <i class="mdi mdi-wallet-giftcard menu-icon"></i>
          <span class="menu-title">Product List</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="user-sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders">
          <i class="mdi mdi-cart menu-icon"></i>
          <span class="menu-title">Order</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/order-history">
          <i class="mdi mdi-history menu-icon"></i>
          <span class="menu-title">Order History</span>
        </a>
      </li>
    </ul>
  </div>
</nav>