<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>


    <link rel="stylesheet" href="/vendors/feather/feather.css">
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">

    <link rel="shortcut icon" href="/img/logo-mini.svg">

    <link rel="stylesheet" href="/css/style.css">

    {{{_sections.css}}}
  </head>
  <body>
    <div class="container-scroller">
      {{> nav}}
      <div class="container-fluid page-body-wrapper">
        {{> sidebar}}
        <div class="main-panel">
          {{{body}}}
          {{#section 'footer'}}
            <footer class="footer">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
              </div>
            </footer>    
          {{/section}}
          {{{_sections.footer}}}
        </div>
      </div>
    </div>
  </body>


  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/vendors/chart.js/Chart.min.js"></script>
  <script src="/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="/js/dataTables.select.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/settings.js"></script>
  <script src="/js/todolist.js"></script>
  <!-- endinject -->

<script>
  var username;
  var orders = [];
  
  $("#noti").click(async () => {
    if (username[0] != 'I') {
      return;
    }

    await $.ajax({
      url: `/account/notification`,
      type: 'GET',
      success: async function (response, status) {
          const res = await response;
          orders = res.orders;
      }
    });

    $("#ring").empty();
    for (let order of orders) {
      $("#ring").append(`<a class="dropdown-item preview-item" href="/order-history">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-success">
                  <i class="ti-info-alt mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal">Order ${order.id} is unpaid</h6>
              </div>
            </a>`);
    }
  });

  function renderAdminSidebar() {
    $("#sidebar").empty();
    $("#sidebar").append(`
      <div class="admin-sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manage">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/patient">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">User List</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/packs">
              <i class="mdi mdi-package-variant-closed menu-icon"></i>
              <span class="menu-title">Pack List</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">
              <i class="mdi mdi-wallet-giftcard menu-icon"></i>
              <span class="menu-title">Product List</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quarantine-locations">
              <i class="mdi mdi-hospital-building menu-icon"></i>
              <span class="menu-title">Location List</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/server-log">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Server Log</span>
            </a>
          </li>
        </ul>
      </div>
    `);
  };

  function renderManagerSidebar() {
    $("#sidebar").empty();
    $("#sidebar").append(`
      <div class="manager-sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manage">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Management</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">User List</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/packs">
              <i class="mdi mdi-package-variant-closed menu-icon"></i>
              <span class="menu-title">Pack List</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">
              <i class="mdi mdi-wallet-giftcard menu-icon"></i>
              <span class="menu-title">Product List</span>
            </a>
          </li>
        </ul>
      </div>
    `);
  };

  function renderUserSidebar() {
    $("#sidebar").empty();
    $("#sidebar").append(`
      <div class="user-sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders">
              <i class="mdi mdi-cart menu-icon"></i>
              <span class="menu-title">Order</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order-history">
              <i class="mdi mdi-history menu-icon"></i>
              <span class="menu-title">Order History</span>
            </a>
          </li>
        </ul>
      </div>
    `);
  }

  $().ready(async () => {
      await $.ajax({
      url: `/api/authenticate`,
      type: 'GET',
      success: async function (response, status) {
          const res = await response;
          username = res.username;
          $("#username").text(username);
          if(username[0] == 'I')
          {
            /*$(".admin-sidebar").remove();
            $(".manager-sidebar").remove();
            $(".user-sidebar").add();*/
            renderUserSidebar();
          }
          if(username[0] == 'a')
          {
            /*$(".user-sidebar").remove();
            $(".manager-sidebar").remove();
            $(".admin-sidebar").add();*/
            renderAdminSidebar();
          }
          if(username[0] == 'M')
          {
            /*$(".admin-sidebar").remove();
            $(".user-sidebar").remove();
            $(".manager-sidebar").add();*/
            renderManagerSidebar();
          }
      }
    });
  });
</script>
  
  {{{_sections.js}}}
</html>