<div class="content-wrapper">
    {{!-- welcome --}}
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <div class="row ml-2">
                        {{#if isPatient}}
                        <button type="button" class="btn btn-2side left-side active-btn">Patient</button>
                        <button type="button" class="btn btn-2side right-side non-active-btn" onclick="location.href='';">Supervisor</button>
                        {{else if isSupervisor}}
                        <button type="button" class="btn btn-2side left-side non-active-btn" onclick="location.href='';">Patient</button>
                        <button type="button" class="btn btn-2side right-side active-btn">Supervisor</button>
                        {{else}}
                        {{/if}}
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="justify-content-end d-flex">
                        <div class="input-group">
                            <input type="text" class="form-control" id="content-search-input" placeholder="Search"
                                aria-label="search" aria-describedby="search">
                            <div class="input-group-prepend hover-cursor" id="content-search-icon">
                                <span class="input-group-text" id="userlist-search">
                                    <i class="icon-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <div class="row">
                        <h3 class="font-weight-bold mr-5"
                            style="margin-top: auto; margin-bottom: auto; margin-left: 1.5rem">Patient</h3>
                        <button class="btn btn-primary mr-2"> Add new</button>
                        <button class="btn btn-outline-dark" href=""> Import patient</button>
                    </div>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="justify-content-end d-flex">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">Filter</button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                {{!-- <h6 class="dropdown-header">Header</h6> --}}
                                <a class="dropdown-item" href="#">A-Z</a>
                                <a class="dropdown-item" href="#">Z-A</a>
                                <a class="dropdown-item" href="#">Added recently</a>
                                {{!-- <div class="dropdown-divider"></div> --}}
                                <a class="dropdown-item" href="#">Serious Status</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title mb-0">User List</p>
                    <div class="table-responsive table-hover">
                        <table class="table table-borderless">
                            <thead style="border-bottom: 2px solid black">
                                <tr>
                                    <th>Photo</th>
                                    <th>Full Name</th>
                                    <th>Address</th>
                                    <th>Warrantly Place</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="py-1">
                                        <img src="./img/faces/face1.jpg" alt="image" />
                                    </td>
                                    <td>Anna Wayne</td>
                                    <td>95 Trần Quang Khải, P7, Quận 3</td>
                                    <td>Nhi Đồng Hospital, Quận 3</td>
                                    <td class="font-weight-medium">
                                        <div class="badge badge-warning" style="width:100%">F1</div>
                                    </td>
                                    <td class="font-weight-medium">
                                        <div class="row">
                                            <div class="badge badge-primary"><i class="mdi mdi-pencil mx-2"></i></div>
                                            <div class="badge badge-danger"><i class="icon-trash mx-2"></i></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-1">
                                        <img src="./img/faces/face1.jpg" alt="image" />
                                    </td>
                                    <td>Anna Wayne</td>
                                    <td>95 Trần Quang Khải, P7, Quận 3</td>
                                    <td>Nhi Đồng Hospital, Quận 3</td>
                                    <td class="font-weight-medium">
                                        <div class="badge badge-danger" style="width:100%">F0</div>
                                    </td>
                                    <td class="font-weight-medium">
                                        <div class="row">
                                            <div class="badge badge-primary"><i class="mdi mdi-pencil mx-2"></i></div>
                                            <div class="badge badge-danger"><i class="icon-trash mx-2"></i></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-1">
                                        <img src="/img/faces/face1.jpg" alt="image" />
                                    </td>
                                    <td>Anna Wayne</td>
                                    <td>95 Trần Quang Khải, P7, Quận 3</td>
                                    <td>Nhi Đồng Hospital, Quận 3</td>
                                    <td class="font-weight-medium">
                                        <div class="badge badge-primary" style="width:100%">F2</div>
                                    </td>
                                    <td class="font-weight-medium">
                                        <div class="row">
                                            <div class="badge badge-primary"><i class="mdi mdi-pencil mx-2"></i></div>
                                            <div class="badge badge-danger"><i class="icon-trash mx-2"></i></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-1">
                                        <img src="./img/faces/face1.jpg" alt="image" />
                                    </td>
                                    <td>Anna Wayne</td>
                                    <td>95 Trần Quang Khải, P7, Quận 3</td>
                                    <td>Nhi Đồng Hospital, Quận 3</td>
                                    <td class="font-weight-medium">
                                        <div class="badge badge-primary" style="width:100%">F2</div>
                                    </td>
                                    <td class="font-weight-medium">
                                        <div class="row">
                                            <div class="badge badge-primary"><i class="mdi mdi-pencil mx-2"></i></div>
                                            <div class="badge badge-danger"><i class="icon-trash mx-2"></i></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-1">
                                        <img src="./img/faces/face1.jpg" alt="image" />
                                    </td>
                                    <td>Anna Wayne</td>
                                    <td>95 Trần Quang Khải, P7, Quận 3</td>
                                    <td>Nhi Đồng Hospital, Quận 3</td>
                                    <td class="font-weight-medium">
                                        <div class="badge badge-danger" style="width:100%">F0</div>
                                    </td>
                                    <td class="font-weight-medium">
                                        <div class="row">
                                            <div class="badge badge-primary"><i class="mdi mdi-pencil mx-2"></i></div>
                                            <div class="badge badge-danger"><i class="icon-trash mx-2"></i></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-1">
                                        <img src="./img/faces/face1.jpg" alt="image" />
                                    </td>
                                    <td>Anna Wayne</td>
                                    <td>95 Trần Quang Khải, P7, Quận 3</td>
                                    <td>Nhi Đồng Hospital, Quận 3</td>
                                    <td class="font-weight-medium">
                                        <div class="badge badge-warning" style="width:100%">F1</div>
                                    </td>
                                    <td class="font-weight-medium">
                                        <div class="row">
                                            <div class="badge badge-primary"><i class="mdi mdi-pencil mx-2"></i></div>
                                            <div class="badge badge-danger"><i class="icon-trash mx-2"></i></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-1">
                                        <img src="./img/faces/face1.jpg" alt="image" />
                                    </td>
                                    <td>Anna Wayne</td>
                                    <td>95 Trần Quang Khải, P7, Quận 3</td>
                                    <td>Nhi Đồng Hospital, Quận 3</td>
                                    <td class="font-weight-medium">
                                        <div class="badge badge-primary" style="width:100%">F2</div>
                                    </td>
                                    <td class="font-weight-medium">
                                        <div class="row">
                                            <div class="badge badge-primary"><i class="mdi mdi-pencil mx-2"></i></div>
                                            <div class="badge badge-danger"><i class="icon-trash mx-2"></i></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section "js"}}
<!-- Custom js for this page-->
<script type="text/javascript" src="js/dashboard.js"></script>
<script type="text/javascript" src="js/Chart.roundedBarCharts.js"></script>
<!-- End custom js for this page-->
{{/section}}