<div id="msg" role="alert" style='text-align:center;
                                 font-size: medium; 
                                 background: {{color}}; 
                                 border-radius: 5px;
                                 margin-top: 30px;'>
    {{message}}
</div>